[Desktop Entry]
Name=Icarus
Name[az]=Icarus
Name[ca]=Icarus
Name[cs]=Icarus
Name[da]=Icarus
Name[de]=Icarus
Name[el]=Icarus
Name[en_GB]=Icarus
Name[es]=Icarus
Name[eu]=Icarus
Name[fr]=Icarus
Name[it]=Icarus
Name[ko]=Icarus
Name[nl]=Icarus
Name[nn]=Icarus
Name[pl]=Icarus
Name[pt]=Icarus
Name[pt_BR]=Icarus
Name[ro]=Icarus
Name[ru]=Icarus
Name[sk]=Icarus
Name[uk]=Icarus
Name[x-test]=Icarus
Name[zh_CN]=Icarus
Name[zh_TW]=Icarus

X-KDE-PluginInfo-Name=Icarus
X-KDE-PluginInfo-Author=Nagy Roland
X-KDE-PluginInfo-Email=roliboy@protonmail.com
X-KDE-PluginInfo-License=MIT
